<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<!-- <link rel="icon" href="../../favicon.ico"> -->

<title>Signin</title>
<script src="/static/js/jquery.js"></script>
<!-- Bootstrap core CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Custom styles for this template -->
{% block static %}
{% endblock %}
<style media="screen">
body{
    background-color: #eee;
}
#particle {
  /*background-color: #b61924;*/
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
}
#overlay {
  position: relative;
}
</style>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
